body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Roboto, sans-serif;
  background-image: url("https://cdnn1.img.sputnik.tj/img/102932/48/1029324803_27:0:1732:1279_1920x0_80_0_0_ed89e0c8154fe59c04c8d3e6fb0b4736.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  margin-top: 3rem;
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

input {
  width: 100%;
  padding: 0.7rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

button {
 background-color: #ff7b00; /* ярко-оранжевый */
  color: black;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #ff9800;
}

p {
  text-align: center;
  color: #333;
}
